// Тут мы задаем шаблоные переменные, чтобы при их изменении менялось по всему проету стили, размер текста, цвет и тд...
// Для светлой темы в отличее от темной у тех-же переменных меняем цвета, что-бы при переключении они менялись
:root {
  --bg-color: #e8e8ea; // цвет фона
  --inverted-bg-color: #090949; // цвет фона перевернутый выбранной теме
  --primary-color: #0232c2; // цвет шрифта по всему приложению (заголовок)
  --secondary-color: #0449e0; // второстепенный цвет (Описание)
  --inverted-primary-color: #04ff04; // перевернутый выбранной теме текст
  --inverted-secondary-color: #049604; // перевернутый выбранной теме текст

  // skeleton
  --skeleton-shadow: #fff;
  --skeleton-color: rgba(0 0 0 / 20%);
}
